<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout_admin.html}"
>
<body>
<div layout:fragment="content" id="content-page" class="content-page">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Editable table -->
                <div class="card">
                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
                        Quản lý bài viết
                    </h3>
                    <div class="card-body mb-6" style="height:65vh">

                        <div id="table" class="table-editable">
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                <tr>
                                    <th>POSTID</th>
                                    <th>Người tạo</th>
                                    <th>Thời gian đăng</th>
                                    <th>Mở/Khoá</th>
                                    <th>Xoá</th>
                                    <th>chi tiết</th>
                                </tr>
                                </thead>
                                <tbody>


                                <tr  th:each="post,stat : ${posts}">
                                    <td th:text="${post.postId}"></td>
                                    <td th:text="${post.user.getFullName()}"></td>
                                    <td th:text="${post.postCreateTime}"></td>
                                    <td>
                                        <a class="btn btn-info mt-1" th:href="@{/admin/lockPost(postId=${post.postId},pageNum=${currentPage})}" th:text="${isLocked[stat.index]} ? 'Mở' : 'Khoá'"></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger mt-1" th:href="@{/admin/deletePost(postId=${post.postId},pageNum=${currentPage})}" role="button">Xoá</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-secondary  mt-1" th:href="@{/admin/postDetail(postId=${post.postId},pageNum=${currentPage})}" role="button">Chi tiết</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <nav aria-label="...">
                        <ul class="pagination d-flex justify-content-center">
                            <li class="page-item ">
                                <a class="page-link" th:if="${currentPage}>0" th:href="@{/admin/postControll(pageNum=${currentPage - 1})}">&laquo;</a>

                            </li>
                            <li class="page-item" th:if="${currentPage - 1 > 0}">
                                <a class="page-link" th:href="@{/admin/postControll(pageNum=${currentPage - 1})}" th:text="${currentPage - 1}"></a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link" th:text="${currentPage}"></span>
                            </li>
                            <li class="page-item" th:if="${currentPage + 1 < totalPages}">
                                <a class="page-link" th:href="@{/admin/postControll(pageNum=${currentPage + 1})}" th:text="${currentPage + 1}"></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:if="${currentPage}<${totalPages}-1" th:href="@{/admin/postControll(pageNum=${currentPage + 1})}">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

<div layout:fragment="all-scripts">
    <script>

        function formatDate(date) {
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var ampm = hours >= 12 ? "pm" : "am";
      hours = hours % 12;
      hours = hours ? hours : 12; // the hour '0' should be '12'
      minutes = minutes < 10 ? "0" + minutes : minutes;
      var strTime = hours + ":" + minutes + " " + ampm;
      return (
        date.getDate() +
        "/" +
        (date.getMonth() + 1) +
        "/" +
        date.getFullYear() +
        "  " +
        strTime
      );
    }

    document.querySelectorAll('tbody tr')?.forEach((tr) => {
           console.log("hrer");
      const date = new Date(tr.children[2].textContent);
      tr.children[2].textContent = formatDate(date);
    });
    </script>
</div>
</body>
</html>